<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú principal</title>
    <link rel="stylesheet" href="../static/CSS/style.css">
</head>
<body>
    <div class="contenido_menu">


       <div class="contenido_acordeon">
           <div class="opcion">
              <p>Opcion-1</p>
              <p class="icono">+</p>

           </div>

           <div class="link">
              <a href="">Primer link</a>
              <a href="">Segundo link</a>
              <a href="">Tercer link</a>

           </div>
       </div>

       <div class="contenido_acordeon">
            <div class="opcion">
                <p>Opcion-2</p>
                <p class="icono">+</p>

            </div>

            <div class="link">
                <a href="">Primer link</a>
                <a href="">Segundo link</a>
                <a href="">Tercer link</a>

            </div>
        </div>

        <div class="contenido_acordeon">
            <div class="opcion">
                <p>Opcion-3</p>
                <p class="icono">+</p>

            </div>

            <div class="link">
                <a href="">Primer link</a>
                <a href="">Segundo link</a>
                <a href="">Tercer link</a>

            </div>
        </div>
       

        

    </div>
    <script src="../static/JS/javaScript.js"></script>
</body>
</html>